PORT = 3000
MONGO_URI = mongodb+srv://Karan_Kartikeya:<password>@cluster0.yom6h.mongodb.net/<dbname>?retryWrites=true&w=majority
GOOGLE_CLIENT_ID = 412658011518-g2efuea5motqlfqm52n575aqcv7dha4e.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = Kf_tOiwUl6QXDBR5DSc_89Ds